---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@/theme-simple/assets/styles/main.less";
import { config } from "@/theme-simple/config";

export interface Props {
    title: string;
    subtitle: string;
    description: string;
    image: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, subtitle, description, image } = Astro.props;

const titleText = subtitle ? `${title} - ${subtitle}` : title;

// 根据 config.site.favicon 后缀判断 favicon 类型
const favInfo = {
    ext: config.site.favicon.split(".").pop(),
    url: config.site.favicon,
    type: "image/x-icon",
};
switch (favInfo.ext) {
    case "svg":
        favInfo.type = "image/svg+xml";
        break;
    case "png":
        favInfo.type = "image/png";
        break;
    default:
    case "ico":
        favInfo.type = "image/x-icon";
        break;
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type={favInfo.type} href={favInfo.url} />
<meta name="generator" content={Astro.generator} />
<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{titleText}</title>
<meta name="title" content={titleText} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={titleText} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={titleText} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Waline -->
{
    config.waline.enable && (
        <link
            rel="stylesheet"
            href="https://unpkg.com/@waline/client@v3/dist/waline.css"
        />
    )
}
