---
import BaseHead from "@/theme-simple/_blocks/BaseHead.astro";
import SideBar from "@/theme-simple/_blocks/SideBar.astro";
import BaseFoot from "@/theme-simple/_blocks/BaseFoot.astro";
import { config } from "@/theme-simple/config";

import FormattedDate from "@/theme-simple/components/FormattedDate.astro";
// import GetAbstract from "@/theme-simple/components/GetAbstract.astro";

import { CollectionEntry, getCollection } from 'astro:content';
export async function getStaticPaths() {
	const posts = (await getCollection("blog")).sort(config.func.sortPosts);
    const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
	return tags.map((tag) =>({
        params: { tag },
        props: {
            posts: posts.filter((post) => post.data.tags.includes(tag))
        }
    }));
}

type Props = { posts: CollectionEntry<'blog'>[] };
type Params = { tag: string };
const { posts } = Astro.props as Props;
const { tag } = Astro.params as Params;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={tag} subtitle={config.site.title} description={`${tag} | ${config.archive.description}`} image={config.site.image} />
    </head>
    <body>
        <div id="app" class="main">
            <SideBar
                menus={config.menus}
                site={config.site}
                author={config.author}
            />
            <div class="main-container">
                <div class="content-container" data-aos="fade-up">
                    <h2 class="archives-title">{tag}</h2>
                    <div class="archives-container">
                        {
                            posts.map((post) => (
                                <article class="post">
                                    <a
                                        href={`/blog/${post.slug}/`}
                                        title={post.data.title}
                                    >
                                        <h2 class="post-title">
                                            [<FormattedDate date={post.data.pubDate} />] {post.data.title}
                                        </h2>
                                    </a>
                                </article>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
        <BaseFoot />
    </body>
</html>
