---
import BaseHead from "@/theme-simple/_blocks/BaseHead.astro";
import SideBar from "@/theme-simple/_blocks/SideBar.astro";
import BaseFoot from "@/theme-simple/_blocks/BaseFoot.astro";
import { config } from "@/theme-simple/config";

import BlogSingle from "@/theme-simple/_blocks/BlogSingle.astro";

// import { frontmatter, Content } from "@content/pages/about.md";
import { getEntryBySlug } from "astro:content";
const about = await getEntryBySlug("pages", "about");
const { Content } = await about.render();
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={about.data.title} subtitle={config.site.title} description={about.data.description} image={about.data.heroImage || config.site.image} />
    </head>
    <body>
        <div id="app" class="main">
            <SideBar
                menus={config.menus}
                site={config.site}
                author={config.author}
            />
            <div class="main-container">
                <div class="content-container" data-aos="fade-up">
                    <BlogSingle {...about.data}>
                        <Content />
                    </BlogSingle>
                </div>
            </div>
        </div>
        <BaseFoot />
    </body>
</html>
