---
import BaseHead from "@/theme-simple/_blocks/BaseHead.astro";
import SideBar from "@/theme-simple/_blocks/SideBar.astro";
import BaseFoot from "@/theme-simple/_blocks/BaseFoot.astro";
import { config } from "@/theme-simple/config";

import PageBar from "@/theme-simple/_blocks/PageBar.astro";
import FormattedDate from "@/theme-simple/components/FormattedDate.astro";
import GetAbstract from "@/theme-simple/components/GetAbstract.astro";

import { getCollection } from "astro:content";
const allPost = (await getCollection("blog")).sort(config.func.sortPosts);
const posts = allPost.slice(0, config.opt.postsSize);
const pagination = config.func.getPagination(
    allPost.length,
    config.opt.postsSize,
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={config.site.title}
            subtitle={config.site.description}
            description={config.site.description}
            image={config.site.image}
        />
    </head>
    <body>
        <div id="app" class="main">
            <SideBar
                menus={config.menus}
                site={config.site}
                author={config.author}
            />
            <div class="main-container">
                <div class="content-container" data-aos="fade-up">
                    {
                        // 文章列表>>
                        posts.map((post) => (
                            <article class="post-item">
                                <div class="left">
                                    <a
                                        href={`/blog/${post.slug}/`}
                                        title={post.data.title}
                                    >
                                        <h2 class="post-title">
                                            {post.data.title}
                                        </h2>
                                    </a>
                                    <div class="post-date">
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </div>
                                    <div class="post-abstract">
                                        <GetAbstract content={post.body} />
                                    </div>
                                </div>
                                {post.data.heroImage && (
                                    <a
                                        class="right"
                                        href={`/blog/${post.slug}/`}
                                        title={post.data.title}
                                    >
                                        <div
                                            class="feature-container"
                                            style={`background-image: url('${post.data.heroImage}');`}
                                        />
                                    </a>
                                )}
                            </article>
                        ))
                    }
                    {
                        config.opt.postsSize < allPost.length && (
                            <PageBar {...pagination} isBar={true} />
                        )
                    }
                </div>
            </div>
        </div>
        <BaseFoot />
    </body>
</html>
