---
import BaseHead from "@/theme-simple/_blocks/BaseHead.astro";
import SideBar from "@/theme-simple/_blocks/SideBar.astro";
import BaseFoot from "@/theme-simple/_blocks/BaseFoot.astro";
import { config } from "@/theme-simple/config";

import SearchForm from "@/theme-simple/components/Search.astro";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={config.search.title} subtitle={config.site.title} description={config.search.description} image={config.site.image}/>
    </head>
    <body>
        <div id="app" class="main">
            <SideBar
                menus={config.menus}
                site={config.site}
                author={config.author}
            />
            <div class="main-container">
                <div class="content-container" data-aos="fade-up">
                    <h2 class="search-title">{config.search.title}</h2>
                    <div class="search-container">
                        <SearchForm id="search" />
                    </div>
                </div>
            </div>
        </div>
        <BaseFoot />
    </body>
</html>
